
.enlaces {
    display: inline-grid;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.25em;
    height: 2rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5em;
 
    background: 
      linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)),
      linear-gradient(to right, rgb(0, 191, 255), rgb(157, 0, 255));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    
  }
  
  .enlaces:hover,
  .enlaces:focus {
    background-size: 0 0.1em, 100% 0.1em;
  }